i {
    font-size: 18px;
    margin-right: 10px;
}

.btn-info {
    background-color: #5848b3;
    border: none;
}

p {
    font-size: 18px;
    color: #5848b3;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #5848b3;

}


div#label:hover {
    background-color: #5848b3;
    border: none;
    i, a {
        color: white;
    }

}

 i.bi-bucket {
    background-color: #E34234;
    opacity: 0.8;
    color: white;
    padding: 4px;
}

i.bi-pencil {
    background-color: #08A045;
    color: white;
    padding: 4px;
    opacity: 0.8;
}

div.rounded {
    color: black;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

.title {
    background-color: RGB(191, 211, 245, 0.6) ; 
    color: black !important; 
    font-size: 16px;
    font-weight: bold;
    
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
}

#preview img {
    max-width: 100%;
    max-height: 100%;
}

label {
    font-weight: bold;
}

.custom-switch .form-check-input:checked {
    background-color:  #5848b3 !important; /* Set your desired color for the "on" state */
}

.custom-switch .form-check-label {
    color: #000; /* Set your desired color for the label */
}


.pagination .page-item.active .page-link {
    background-color: #5848b3 ; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
}


.pagination .page-item .page-link {
    color: black; /* Set your desired text color */
}

.pagination-container {
    float: right;
}